<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpiont" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <title>VueAndBootstrapTesting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">




</head>

<body>

    <div class="container pt-5" id="applic">
        <div class="row ">
            <div class="col">
                <h1>USSR Cars</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="search">Find Car</label>
                <imput type="text" class="form-control" id="search" aria-placeholder="Name, Model"></imput>
                <hr>
                <ul class="list-group">
                    <li 
                    v-for="(car,index) of cars"
                    class="list-group-item list-group-item-action"
                    v-on:click="selectCar(index)"
                    :class="{'active': selectCarIndex=== index}"
                    >{{ car.name }} - {{ car.model }}

                    </li>
                </ul>
            </div>



            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ car.name }}</h2>
                        <img v-bind:src="car.image" v-bind:alt="car.model" class="rounded detale-car-image">
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>Car Details</h5>
                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Owner - <strong>{{ car.owner }}</strong></li>

                            <p v-if="phoneVisible">{{ car.phone }}</p>
                            <button class="btn btn-outline-success mr-3" v-on:click="phoneVisible = true">Show phone</button>
                            <button class="btn btn-primary">Buy</button>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="jsapp.js"></script>
</body>





</html>